
.topAnimeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topTitleContainer {
  width: 100%;
  padding: 0 10%;
}


.topCards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
}

.cardContainer {
  width: 300px;
  max-width: 350px;
  border-radius: 5px;
padding: 10px;
margin: 10px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: ghostwhite;
}

.cardContainer img {
  width: 220px;
  border-radius: 10px;
}



a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
}